.app {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: relative;

  app-image-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
